

body{
    background-color: lightgray;
}

.container{
    margin: auto;
    display: flex;
    flex-basis: 20%;
    
}
.container ul{
    list-style: none;

}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: brown;
    color: white;
}

.container-1{
    display: flex;
    
}

.container-1 .box-1{
    flex: 1;
    order:2;
    background-color: blue;
    color: white;
}

.container-1 .box-2{
    flex: 1;
    order:1;
    background-color: yellow;
    color: white;
}

.container-1 .box-3{
    flex: 1;
    order:3;
    background-color: aqua;
    color: black;
   
}

.container-2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
     justify-content: space-between;
}
.container-2 .b1, .b5, .b7{
    background-color: black;
    color: white;
}
.container-2 .b2, .b6{
    background-color: rgb(10, 236, 97);
    color: rgb(240, 12, 12);
}
.container-2 .b3, .b4{
    background-color: purple;
    color: bisque;
}

.container-3{
    border: 1px solid black;
    margin: auto;
    height: 400px;
    width: 90%;
    margin-top: 20px;
   
    background-image: url('../css/images/bg-show.webp');
}

.container-3 H1{
    font-size: 60px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
}

.container-3 .me{
    display: flex;
    flex-basis: 50%;
   
}

 
#main-footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;   
}


   


